body {
    margin: 0;
    padding: 0;
    background-color: #F0B3B4;
    overflow: hidden;
    font-family: minecraft;
}
@font-face {
  font-family: 'minecraft'; 
  src: url('Minecraft.ttf') format('truetype'); /* Optional fallback */
  font-weight: normal;
  font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

#filemanager {
    transform:  scale(.25);
    animation: pop 1s ease-out forwards;
}

.content {
    position: relative;
}
.content #cat {
    position: absolute;
    bottom: -75px;
    left: 0px;
    animation: fadeUp 2s ease-in-out forwards;
}
.content #typings {
    position: absolute;
    right: 0px;
    top: 100px;
    opacity: 0;
    animation: fadeUp 3s ease-in-out forwards;
    width: 250px;
    font-size: 23px;
    z-index: 99;
}

button {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 240px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0B3B4;
    z-index: 100;
}

.card-image {
    background-image: url('./images/card.png');
    background-size: cover;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p#message {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-family: minecraft;
}

@keyframes pop {
    0% {
        transform: scale(.25);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        bottom: -150px;
    }
    80% {
        opacity: 0;
        bottom: -100px;
    }
    100% {
        opacity: 1;
        bottom: -75px;
    }
}

@keyframes heightUp {
    0% {
        height: 0px;
    }
    100% {
        height: 350px;
    }
}